.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 220px;
  padding: 40px;
  width: 87%;
  background-color: rgb(var(--project-card-bg-rgb));
  border-radius: 20px;
  color: rgb(var(--project-card-text-rgb));
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  transform-origin: center;
  cursor: pointer;
}

.container:hover {
  background-color: rgb(var(--project-card-hover-bg-rgb));
  transform: scale(1.01);
}

.container:active {
  transform: scale(1);
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 16px;
}

.title {
  font-weight: var(--font-medium);
  font-size: 20px;
  letter-spacing: -0.005em;
  /* background: 
    linear-gradient(currentColor 0 0) 
    bottom /var(--d, 0) 1px 
  no-repeat; */
  transition:0.2s;
}

/* .title:hover {
  color: #989893;
} */

.date {
  font-weight: var(--font-light);
  font-size: 12px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.description {
  width: 80%;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  color: rgb(var(--project-card-light-text-rgb));
  font-size: 13px;
  letter-spacing: -0.02em;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.links .icon{
  z-index: 100;
}

.links svg {
  transition: fill 0.15s ease-in-out;
  fill: #777777;
  z-index: 100;
}

.links svg:hover {
  fill: #444444;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  width: 100%;
}


@media (max-width: 768px) {
  .container {
    width: auto;
    margin-right: calc(11px + 1rem);
    padding: 30px;
    min-height: 110px;
  }

  .description {
    width: 100%;
  }

  .footerContainer {
    justify-content: flex-end;
  }

  .skills {
    display: none;
  }
}