.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .main {
    padding-top: calc(11px + 1rem);
  }
}