.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 85%;
  margin: 0 12px 40px 12px;
}

.link {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-weight: var(--font-medium);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc(1rem + 11px);
  gap: 6px;
  color: #666;
}

.linkText {
  font-size: 14px;
  font-weight: var(--font-light);
  text-transform: none;
}

.arrow {
  width: 14px;
  height: 14px;
  fill: #666;
}

@media (max-width: 768px) {
  .main {
    padding-top: calc(11px + 1rem);
    margin: 0 0px 40px 0px;
    width: 100%;
  }
}
