.container {
  padding: 6vh 1rem 9vh 1rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(var(--blue-highlight-rgb));
  border-radius: var(--navbar-border-radius);
  padding: 11px;
  height: 50px;
  width: 100%;
  max-width: var(--max-width);
}

.navbarLeftContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.navbarRightContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-weight: var(--font-light);
  gap: 6px;
}

.navbarItems {
  background: rgba(var(--navbar-items-rgba));
  color: rgb(var(--navbar-text-rgb));
  font-size: 18px;
  line-height: 1.2;
  border-radius: 5px;
  padding: 0px 11px;
  height: 28px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  white-space: nowrap;
}

.navbarItems svg {
  fill: rgb(var(--navbar-text-rgb));
}

/* uncomment for a scrolling effect on long song names */
/* will need to stack the song name twice in the js file for continuous scrolling */
/* 
.horizontalScrollContainer {
  max-width: 30ch; 
  overflow: hidden;
  white-space: nowrap;
}

.horizontalScrollContainer span{
  display: inline-block;
  animation: scrollText 20s linear infinite;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

@keyframes scrollText {
  from {
    transform: translateX(0); 
  }
  to {
    transform: translateX(-100%);
  }
} */


.semiBold {
  font-weight: var(--font-semibold);
}

.tight {
  letter-spacing: -0.03em;
  padding: 0px 6px;
}


.button {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.button svg {
  transition: fill 0.2s ease-in-out;
}

.button:hover {
  color: rgb(var(--blue-highlight-rgb)) !important;
}

.button:hover svg{
  fill: rgb(var(--blue-highlight-rgb)) !important;
}

.button:active {
  color: rgba(var(--blue-highlight-rgb), 0.8) !important;
}

.button:active svg{
  fill: rgba(var(--blue-highlight-rgb), 0.8) !important;
}

.hideOnTablet {
  display: flex;
}

.hideOnMobile {
  display: flex;

}

.showOnMobile {
  display: none;
}

.light-font {
  font-weight: var(--font-light);
}

@media (max-width: 900px) {
  .hideOnTablet {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
    position: fixed;
    bottom: 3%;
  }

  .hideOnMobile {
    display: none;
  }

  .showOnMobile {
    display: flex;
  }
}