.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 87%;
  margin-bottom: 30px;
}

.title {
  font-size: 24px;
  letter-spacing: -0.02em;
  font-weight: var(--font-semibold);
  color: var(--foreground-rgb);
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  transition: color 0.15s ease-in-out;
}

.title svg {
  transition: fill 0.15s ease-in-out, transform 0.15s ease-in-out;
  width: 17px;
  height: 17px;
  fill: rgb(var(--foreground-rgb));
}

.title:hover {
  color: #444;
}

.title:hover svg {
  fill: #444;
  transform: translate(2px, -2px);
}

.section {
  margin: 20px 0px;
  width: 100%;
}

.sectionTitle {
  font-size: 18px;
  font-weight: var(--font-semibold);
  color: var(--foreground-rgb);
  text-transform: capitalize;
  letter-spacing: -0.01em;
  margin-bottom: 10px;
}

.experiencesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}


@media (max-width: 768px) {
  .main {
    padding-top: calc(11px + 1rem);
  }
}