.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 87%;
}

.title {
  font-size: 24px;
  letter-spacing: -0.02em;
  font-weight: var(--font-semibold);
  color: var(--foreground-rgb);
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
}

.section {
  margin: 20px 0px;
  width: 100%;
}

.sectionTitle {
  font-size: 18px;
  font-weight: var(--font-semibold);
  color: var(--foreground-rgb);
  text-transform: capitalize;
  letter-spacing: -0.01em;
  margin-bottom: 10px;
}

.experiencesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}